<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" id="title" #newtitle>  <!-- #(해시)를 사용하여 '지역 변수'로 지정한다 -->
  </div>

  <div class="field">
    <label for="link">link:</label>
    <input name="link" id="link" #newlink>   <!-- #(해시)를 사용하여 '지역 변수'로 지정한다 -->
  </div>
  <!-- Submit link버튼을 클릭하면 app.component.ts에 정의되어있는 addArtcle() 함수가 호출 된다. -->
  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Submit link
  </button>

</form>
